<template>
  <v-slide-x-transition>
    <v-container>
      <v-layout>
        <v-flex xs12 sm8 offset-sm2 md4 offset-md4>
          <v-card>
            <v-container>
              <v-form @submit.prevent="onSignUp">
                <v-card-text>
                  <v-layout row class="mb-1">
                      <v-flex xs12>
                        <div class="cardTitle">
                          <v-icon medium class="mb-1">lock_open</v-icon>
                          Sign Up
                        </div>
                      </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-text-field
                        type="email"
                        name="email"
                        label="Email Id"
                        id="email"
                        v-model="email"
                        autocomplete="off"
                        required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-text-field
                        type="password"
                        name="password"
                        label="Password"
                        id="password"
                        v-model="password"
                        autocomplete="off"
                        required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-text-field
                        type="password"
                        name="confirmPassword"
                        label="Confirm Password"
                        id="confirmPassword"
                        autocomplete="off"
                        v-model="confirmPassword"
                        :rules="[comparePasswords]"
                        required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat 
                    to="/signIn">Cancel</v-btn>
                  <v-btn flat
                    type="submit"
                    :loading="loading"
                    :disabled="!isFormValid || loading">Sign Up</v-btn>
                </v-card-actions>
              </v-form>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-slide-x-transition>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: '',
        confirmPassword: ''
      }
    },
    computed: {
      isFormValid () {
        return this.email !== '' &&
          this.password !== '' &&
          this.confirmPassword !== ''
      },
      comparePasswords () {
        return this.password !== this.confirmPassword ? 'Passwords do not match' : ''
      },
      isUserAuthenticated () {
        return this.$store.getters.getUserState
      },
      loading () {
        return this.$store.getters.getLoading
      }
    },
    watch: {
      isUserAuthenticated (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignUp () {
        this.$store.dispatch('signUserUp', {email: this.email, password: this.password})
      }
    }
  }
</script>

<style scoped>
    .cardTitle {
        font-size: 1.8em;
        font-weight: 400;
    }
</style>
