<template>
  <v-slide-x-transition>
    <v-container>
      <v-layout>
        <v-flex xs12 sm8 offset-sm2 md4 offset-md4>
          <v-card>
            <v-container>
              <v-form @submit.prevent="onSignIn">
                <v-card-text>
                  <v-layout row class="mb-1">
                      <v-flex xs12>
                        <div class="cardTitle">
                          <v-icon medium class="mb-1">lock_open</v-icon>
                          Sign In
                        </div>
                      </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-text-field
                        type="email"
                        name="email"
                        label="Email Id"
                        id="email"
                        :error="isEmailInvalid"
                        :error-messages="emailErrorMessage"
                        v-model="email"
                        autocomplete="off"
                        required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-text-field
                        type="password"
                        name="password"
                        label="Password"
                        id="password"
                        :error="isPasswordInvalid"
                        :error-messages="passwordErrorMessage"
                        v-model="password"
                        autocomplete="off"
                        required>
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12>
                      <v-checkbox v-bind:label="`Remember Me?`" v-model="rememberMe" :hide-details="true" light></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <!-- <v-layout class="errorMessage">
                  <v-flex xs12>
                    {{ errorMessage }}
                  </v-flex>
                </v-layout> -->
                <v-card-actions>
                  <router-link flat to="/signUp" class="orange--text" tag="span" style="cursor: pointer">
                    SignUp Now?
                  </router-link>
                  <v-spacer></v-spacer>
                  <v-btn flat
                    type="submit"
                    :loading="loading"
                    :disabled="!isFormValid || loading">
                      Sign In
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-slide-x-transition>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: '',
        rememberMe: false,
        isEmailInvalid: false,
        emailErrorMessage: '',
        isPasswordInvalid: false,
        passwordErrorMessage: ''
      }
    },
    computed: {
      isFormValid () {
        return this.email !== '' &&
          this.password !== ''
      },
      isUserAuthenticated () {
        return this.$store.getters.getUserState
      },
      loading () {
        return this.$store.getters.getLoading
      },
      error () {
        return this.$store.getters.getError
      }
    },
    watch: {
      isUserAuthenticated (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      },
      rememberMe () {
        if (this.rememberMe && this.email !== '' && this.password !== '') {
          localStorage.setItem('userCredentials', JSON.stringify({email: this.email, password: this.password}))
        } else {
          localStorage.removeItem('userCredentials')
        }
      },
      error (value) {
        if (value !== null) {
          if (value.code === 'auth/wrong-password') {
            this.isPasswordInvalid = true
            this.passwordErrorMessage = 'Incorrect Password.'
          } else {
            this.isPasswordInvalid = true
            this.passwordErrorMessage = ''
          }
          if (value.code === 'auth/user-not-found') {
            this.isEmailInvalid = true
            this.emailErrorMessage = 'Email Id dosn\'t exist.'
          } else {
            this.isEmailInvalid = false
            this.emailErrorMessage = ''
          }
          if (value.code === 'auth/network-request-failed') {
            console.log(value.message)
          }
        }
      }
    },
    methods: {
      onSignIn () {
        this.$store.dispatch('signUserIn', {email: this.email, password: this.password})
      },
      setUserCredentials () {
        if (localStorage.userCredentials !== undefined) {
          this.rememberMe = true
          this.email = JSON.parse(localStorage.userCredentials).email
          this.password = JSON.parse(localStorage.userCredentials).password
        } else {
          this.rememberMe = false
        }
      }
    },
    mounted: function () {
      this.setUserCredentials()
    }
  }
</script>

<style scoped>
    .cardTitle {
        font-size: 1.8em;
        font-weight: 400;
    }
    .card__actions {
      padding: 10px 16px;
    }
    .errorMessage {
      padding: 0px 16px;
      color: #d50000;
      font-size: 12px;
    }
</style>
