<template>
  <v-slide-x-transition>
    <v-container>
        <v-layout class="pa-3" v-if="loading">
          <v-flex xs12 class="text-xs-center">
            <v-progress-circular 
              indeterminate 
              v-bind:size="40" 
              class="primary--text">
              </v-progress-circular>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="!loading">
            <v-flex xs12 md10 offset-md1>
                <v-carousel>
                    <v-carousel-item
                        style="cursor: pointer" 
                        v-for="item in featuredEventz"
                        :key="item.id" 
                        :src="item.imageUrl"
                        @click="viewEvent(item.id)">
                        <div class="carouselTitle">{{item.title}}</div>
                    </v-carousel-item>
                </v-carousel>
            </v-flex>
        </v-layout>
    </v-container>
  </v-slide-x-transition>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('loadEventz')
    },
    computed: {
      featuredEventz () {
        return this.$store.getters.featuredEventz
      },
      loading () {
        return this.$store.getters.getLoading
      }
    },
    methods: {
      viewEvent (id) {
        this.$router.push('/eventz/' + id)
      }
    }
  }
</script>

<style scoped>
    .carouselTitle {
        position: absolute;
        bottom: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 1.5em;
        padding: 10px 15px;
    }
</style>