<template>
  <v-slide-x-transition>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12 md8 offset-md2>
              <v-form @submit.prevent="onCreateEvent">
                <v-card>
                    <v-card-text>
                      <v-layout row>
                          <v-flex xs12 sm6 offset-sm3>
                              <div class="cardTitle">Create a New Event</div>
                          </v-flex>
                      </v-layout>
                      
                      <v-layout row wrap>
                          <v-flex xs12>
                                  <v-layout row>
                                      <v-flex xs12 sm6 offset-sm3>
                                          <v-text-field
                                              prepend-icon="flag"
                                              name="title"
                                              label="Event Name"
                                              id="title"
                                              v-model="title"
                                              counter
                                              max="70"
                                              autocomplete="off"
                                              required>
                                          </v-text-field>
                                      </v-flex>
                                  </v-layout>
                                  <v-layout row>
                                      <v-flex xs12 sm6 offset-sm3>
                                          <v-text-field
                                              prepend-icon="place"
                                              name="location"
                                              label="Location"
                                              id="location"
                                              v-model="location"
                                              autocomplete="off"
                                              required>
                                          </v-text-field>
                                      </v-flex>
                                  </v-layout>

                                  
                                  <v-layout row>
                                      <v-flex xs12 sm6 offset-sm3>
                                        <v-switch offset-sm2 v-bind:label="`One day event?`" v-model="oneDayIndicator"></v-switch>
                                      </v-flex>
                                  </v-layout>

                                  <v-layout row wrap>
                                    <v-flex xs12 sm6 offset-sm3>
                                        <v-layout>
                                          <v-flex xs6>
                                            <v-menu lazy :close-on-content-click="false" transition="scale-transition" full-width offset-y :nudge-left="40" max-width="290px">
                                              <v-text-field slot="activator" label="Start Date" v-model="formattedStartDate" prepend-icon="event" readonly required></v-text-field>
                                              <v-date-picker v-model="startDate" 
                                                :date-format="date => new Date(date).toDateString()"
                                                :formatted-value.sync="formattedStartDate"
                                                :allowed-dates="allowedDates" 
                                                actions>
                                                <template scope="{ save, cancel }">
                                                  <v-card-actions>
                                                    <v-btn flat primary @click="cancel()">Cancel</v-btn>
                                                    <v-btn flat primary @click="save()">Save</v-btn>
                                                  </v-card-actions>
                                                </template>
                                              </v-date-picker>
                                            </v-menu>
                                          </v-flex>
                                          <v-flex xs5 offset-xs1>
                                            <v-menu lazy :close-on-content-click="false" transition="scale-transition" full-width offset-y :nudge-right="95" max-width="290px">
                                              <v-text-field slot="activator" label="Start Time" v-model="formattedStartTime" prepend-icon="access_time" readonly required></v-text-field>
                                              <v-time-picker v-model="startTime"
                                                actions>
                                                <template scope="{ save, cancel }">
                                                  <v-card-actions>
                                                    <v-btn flat primary @click="cancel()">Cancel</v-btn>
                                                    <v-btn flat primary @click="save()">Save</v-btn>
                                                  </v-card-actions>
                                                </template>
                                              </v-time-picker>
                                            </v-menu>
                                          </v-flex>
                                        </v-layout>
                                    </v-flex>
                                  </v-layout>

                                  <v-layout row wrap>
                                    <v-flex xs12 sm6 offset-sm3>
                                        <v-layout>
                                          <v-flex xs6 v-if="!oneDayIndicator">
                                            <v-menu lazy :close-on-content-click="false" transition="scale-transition" full-width offset-y :nudge-left="40" max-width="290px">
                                              <v-text-field slot="activator" label="End Date" v-model="formattedEndDate" prepend-icon="event" readonly required></v-text-field>
                                              <v-date-picker v-model="endDate" 
                                                :date-format="date => new Date(date).toDateString()"
                                                :formatted-value.sync="formattedEndDate"
                                                :allowed-dates="allowedDates" 
                                                actions>
                                                <template scope="{ save, cancel }">
                                                  <v-card-actions>
                                                    <v-btn flat primary @click="cancel()">Cancel</v-btn>
                                                    <v-btn flat primary @click="save()">Save</v-btn>
                                                  </v-card-actions>
                                                </template>
                                              </v-date-picker>
                                            </v-menu>
                                          </v-flex>
                                          <v-flex xs5 offset-xs1 :class="{ 'ml-0': oneDayIndicator }">
                                            <v-menu lazy :close-on-content-click="false" transition="scale-transition" full-width offset-y :nudge-right="(oneDayIndicator? -40 : 95)" max-width="290px">
                                              <v-text-field slot="activator" label="End Time" v-model="formattedEndTime" prepend-icon="access_time" readonly required></v-text-field>
                                              <v-time-picker v-model="endTime"
                                                actions>
                                                <template scope="{ save, cancel }">
                                                  <v-card-actions>
                                                    <v-btn flat primary @click="cancel()">Cancel</v-btn>
                                                    <v-btn flat primary @click="save()">Save</v-btn>
                                                  </v-card-actions>
                                                </template>
                                              </v-time-picker>
                                            </v-menu>
                                          </v-flex>
                                        </v-layout>
                                    </v-flex>
                                  </v-layout>
                                  
                                  <v-layout row>
                                      <v-flex xs12 sm6 offset-sm3>
                                        <v-layout row>
                                          <v-flex xs10>
                                            <v-text-field
                                                prepend-icon="image"
                                                name="image"
                                                label="Image URL"
                                                id="imageUrlField"
                                                v-model="imageUrlField"
                                                autocomplete="off">
                                            </v-text-field>
                                          </v-flex>
                                          <v-flex xs2 class="text-xs-right">
                                            <v-btn fab dark small primary @click="selectImage">
                                              <v-icon dark>cloud_upload</v-icon>
                                            </v-btn>
                                            <input 
                                              type="file" 
                                              v-show="false" 
                                              ref="uploadImageInput" 
                                              accept="image/*"
                                              autocomplete="off"
                                              @change="onImageSelected"/>
                                          </v-flex>
                                        </v-layout>
                                        <v-card class="portrait mb-3" 
                                          v-show="imageUrl != ''" 
                                          :img="imageUrl" 
                                          height="200px"></v-card>
                                      </v-flex>
                                  </v-layout>
                                  <v-layout row>
                                      <v-flex xs12 sm6 offset-sm3>
                                          <v-text-field
                                              prepend-icon="receipt"
                                              name="description"
                                              label="Description"
                                              id="description"
                                              v-model="description"
                                              counter
                                              multi-line
                                              rows="4"
                                              max="150"
                                              autocomplete="off"
                                              required>
                                          </v-text-field>
                                      </v-flex>
                                  </v-layout>
                          </v-flex>
                      </v-layout>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-layout row>
                        <v-flex xs12 sm6 offset-sm3>
                          <v-btn 
                            flat
                            class="orange--text"
                            @click="clearFields">
                            Clear
                          </v-btn>
                          <v-btn 
                            flat 
                            class="orange--text"
                            type="submit"
                            :loading="loading"
                            :disabled="!isFormValid || loading">
                            Create
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </v-card-actions>
                </v-card>
              </v-form>
            </v-flex>
        </v-layout>
    </v-container>
  </v-slide-x-transition>
</template>

<script>
  export default {
    data () {
      return {
        title: '',
        location: '',
        image: null,
        imageUrl: '',
        imageUrlField: '',
        description: '',
        oneDayIndicator: false,
        allowedDates: null,
        startDate: null,
        formattedStartDate: null,
        startTime: null,
        formattedStartTime: null,
        endDate: null,
        formattedEndDate: null,
        endTime: null,
        formattedEndTime: null,
        registeredCount: 0
      }
    },
    computed: {
      isFormValid () {
        return this.title !== '' &&
          this.location !== '' &&
          this.imageUrl !== '' &&
          this.description !== '' &&
          this.startDate !== null &&
          this.startTime !== null &&
          (!this.oneDayIndicator ? this.endDate !== null : true) &&
          this.endTime !== null
      },
      loading () {
        return this.$store.getters.getLoading
      }
    },
    methods: {
      clearFields () {
        this.title = ''
        this.location = ''
        this.image = null
        this.imageUrl = ''
        this.imageUrlField = ''
        this.description = ''
        this.startDate = null
        this.formattedStartDate = null
        this.startTime = null
        this.formattedStartTime = null
        this.endDate = null
        this.formattedEndDate = null
        this.endTime = null
        this.formattedEndTime = null
        this.registeredCount = 0
      },
      onCreateEvent () {
        const eventData = {
          title: this.title,
          location: this.location,
          imageUrl: this.imageUrl,
          image: this.image,
          description: this.description,
          startDate: this.formattedStartDate,
          startTime: this.formattedStartTime,
          endDate: (!this.oneDayIndicator ? this.formattedEndDate : null),
          endTime: this.formattedEndTime,
          registeredCount: this.registeredCount
        }
        this.$store.dispatch('createEventPayload', eventData)
        this.$router.push('/eventz')
      },
      selectImage () {
        this.$refs.uploadImageInput.click()
      },
      onImageSelected (event) {
        const files = event.target.files
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imageUrlField = ''
          this.imageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
      }
    },
    mounted () {
      const todaysDate = new Date()
      const yesterdaysDate = new Date()
      yesterdaysDate.setDate(todaysDate.getDate() - 1)
      this.allowedDates = function (startDate) {
        return startDate > yesterdaysDate
      }
    },
    watch: {
      startTime: function (value) {
        console.log(value)
        this.formattedStartTime = value.slice(0, -2) + ' ' + value.slice(-2).toUpperCase()
      },
      endTime: function (value) {
        this.formattedEndTime = value.slice(0, -2) + ' ' + value.slice(-2).toUpperCase()
      },
      imageUrlField: function (value) {
        if (value) {
          this.imageUrl = value
        }
      }
    }
  }
</script>

<style scoped>
    .cardTitle {
        font-size: 1.8em;
        font-weight: 400;
    }
    .portrait{
      margin-left: 2.8em;
    }
</style>