<template>
    <v-slide-x-transition>
    <v-container class="pa-0">
        <v-layout class="pa-3" v-if="loading">
          <v-flex xs12 class="text-xs-center">
            <v-progress-circular 
              indeterminate 
              v-bind:size="40" 
              class="primary--text">
              </v-progress-circular>
          </v-flex>
        </v-layout>
        <v-container v-if="!loading">
        <v-layout row wrap v-for="item in loadedEventz" :key="item.id" class="mb-3">
            <v-flex xs12 md8 offset-md2>
                <v-card class="info">
                    <v-layout row>
                        <v-flex xs5 sd3 md4>
                            <v-card-media
                                :src="item.imageUrl"
                                height="150px">
                            </v-card-media>
                        </v-flex>
                        <v-flex xs7 sd9 md8>
                            <v-card-title>
                                <div>
                                    <h5 class="white--text eventTitle">{{ item.title }}</h5>
                                    <div class="white--text">
                                        <table>
                                            <tr>
                                                <td><v-icon dark>date_range</v-icon></td>
                                                <td>{{ item.startDate.slice(item.startDate.indexOf(' ')) }} {{ item.startTime }} <span class="hidden-xs-only">&nbsp;</span>-<span class="hidden-xs-only">&nbsp;</span>  {{ (item.endDate ? item.endDate.slice(item.endDate.indexOf(' ')) : '') }} {{ item.endTime }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </v-card-title>
                            <v-card-actions>
                                <v-btn fab dark small primary :to="'/eventz/' + item.id">
                                    <v-icon dark small>insert_invitation</v-icon>
                                </v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
        </v-container>
    </v-container>
    </v-slide-x-transition>
</template>

<script>
  export default {
    computed: {
      loadedEventz () {
        return this.$store.getters.loadedEventz
      },
      loading () {
        return this.$store.getters.getLoading
      }
    },
    methods: {
      viewEvent (id) {
        this.$router.push('/eventz/' + id)
      }
    }
  }
</script>

<style scoped>
    @media screen and (max-width: 970px){
        h5 {
            font-size: 20px;
            line-height: 25px;
        }
    }
    @media screen and (max-width: 600px){
        h5 {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
    table td:first-child{
        vertical-align: top;
    }
    .card__actions {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
</style>