<template>
  <v-slide-x-transition>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12 md8 offset-md2>
                <v-card>
                    <v-card-title>
                        <h5 class="mb-0">{{ selectedEvent.title }}</h5>
                    </v-card-title>
                    <v-card-media
                        :src="selectedEvent.imageUrl"
                        height="400px">
                    </v-card-media>
                    <v-card-text>
                        <div class="mb-2">
                            <table>
                                <tr>
                                    <td><v-icon small class="mr-2">receipt</v-icon></td>
                                    <td>{{ selectedEvent.description }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mb-2">
                            <table>
                                <tr>
                                    <td><v-icon small class="mr-2">place</v-icon></td>
                                    <td>{{ selectedEvent.location }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mb-2">
                            <table>
                                <tr>
                                    <td><v-icon small class="mr-2">access_time</v-icon></td>
                                    <td>{{ selectedEvent.startDate }} {{ selectedEvent.startTime }} &nbsp;-&nbsp; {{ (selectedEvent.endDate ? selectedEvent.endDate : '') }} {{ selectedEvent.endTime }}</td>
                                </tr>
                            </table>
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat class="orange--text">Edit</v-btn>
                        <v-btn flat class="orange--text">Register</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
  </v-slide-x-transition>
</template>

<script>
  export default {
    props: ['id'],
    computed: {
      selectedEvent () {
        return this.$store.getters.selectedEvent(this.id)
      }
    }
  }
</script>

<style scoped>
    table td:first-child{
        vertical-align: top;
    }
</style>