<template>
  <v-app>
    <v-navigation-drawer 
      temporary
      v-model="isSideNav">
        <v-list>
          <v-list-tile 
            v-for="item in menuItems"
            :key="item.title"
            :to="item.link">
            <v-list-tile-action>
              <v-icon medium>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>{{ item.title }}</v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="onSignOut" v-if="isUserAuthenticated">
            <v-list-tile-action>
              <v-icon medium>exit_to_app</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Sign Out</v-list-tile-content>
          </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar dark class="primary">
      <v-toolbar-side-icon 
        @click.stop="isSideNav = !isSideNav"
        class="hidden-sm-and-up"></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">
          <img id="logo" src="../static/logo.png"/>
          EventZ
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn 
          flat 
          v-for="item in menuItems" 
          v-if="item.isToolbar"
          :key="item.title"
          :to="item.link"
          v-tooltip:bottom="{ html: item.title }">
          <v-icon dark medium style="cursor: pointer">{{item.icon}}</v-icon>
        </v-btn>
        <v-menu flat offset-y
          v-if="isUserAuthenticated"
          class="accountIcon">
          <v-btn 
            flat
            slot="activator" 
            v-tooltip:bottom="{ html: 'Account'}">
            <v-icon dark medium style="cursor: pointer">account_circle</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile to="/profile" style="cursor: pointer">
              <v-list-tile-title>
                <v-icon medium>account_circle</v-icon>
                Profile
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/signIn" style="cursor: pointer">
              <v-list-tile-title @click="onSignOut">
                <v-icon medium>exit_to_app</v-icon>
                Sign Out
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <router-view></router-view>
    </main>
    <v-footer>
      <div>EventZ. Copyright © {{ new Date().getFullYear() }} by Ception.inc. All Rights Reserved.</div>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        isSideNav: false
      }
    },
    computed: {
      menuItems () {
        let menuItems = [
          {icon: 'lock_open', title: 'Sign in', link: '/signIn', isToolbar: true}
        ]
        if (this.isUserAuthenticated) {
          menuItems = [
            {icon: 'event_note', title: 'All EventZ', link: '/eventz', isToolbar: true},
            {icon: 'add', title: 'Create Event', link: '/create', isToolbar: true},
            {icon: 'account_circle', title: 'Profile', link: '/profile', isToolbar: false}
          ]
        }
        return menuItems
      },
      isUserAuthenticated () {
        return this.$store.getters.getUserState !== null && this.$store.getters.getUserState !== undefined
      }
    },
    methods: {
      onSignOut () {
        this.$store.dispatch('signOutUser')
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
  #logo{
    vertical-align: middle;
    width: 35px;
  }
  .accountIcon {
    .menu__activator {
      button {
        margin: 0px;
        height: 64px;
      }
    }
  }
</style>
